{% extends "layout.njk" %}

{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h1>New Todo</h1>

        <form action="/todos" method="POST">
            <input hidden required value="1" type="number" name="userId" class="form-control" id="userId" aria-describedby="userId">

           
            <div class="mb-3" up-form-group>
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control {% if errors.title %} is-invalid {% endif %}" id="title" aria-describedby="title">

                {% if errors.title %}
                    <div class="invalid-feedback">
                        {{errors.title}}
                    </div>
                {% endif %}

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock content %}