{% extends "layout.njk" %}

{% block content %}
    <div class="container py-4 px-3 mx-auto">
        <h1>Todos</h1>
        <p>
            <a up-follow up-preload href="/todos/create">Create todo</a>
        </p>

        {% if todos.length %}
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>

                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            <td>
                                <a up-follow up-preload up-layer="new popup" up-size="full" href="/todos/{{ todo.id }}">{{todo.title}}</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}