<!doctype html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Todos</title>

        <!-- Load Vite frontend assets -->
        <script type="module" src="http://localhost:5173/main.ts"></script>
        <!-- or -->
        <link rel="stylesheet" href="http://localhost:5173/styles.scss">


    </head>
    <body>
        <nav>Navbar</nav>

        <main up-main>
            {% block content %}{% endblock content %}
        </main>

        <aside></aside>

        <footer>Footer</footer>

    </body>
</html>