{% extends "layout.njk" %}

{% block content %}
    <div class="container py-4 px-3 mx-auto">

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{todoTitle}}</td>
                    <td>{{dueDate}}</td>
                    <td>{{createdAt}}</td>
                    <td>{{updatedAt}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}